[{lager, [
    {handlers, [
        {lager_console_backend, debug},
        {lager_file_backend, [{file, "logs/console.log"}, {level, info}, {size, 2097152}, {date, "$D0"}, {count, 1}]}
    ]},
    {colored, false},
    {crash_log, "logs/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 10485760},
    {crash_log_date, "$D0"},
    {crash_log_count, 5},
    {error_logger_redirect, true}, %% default
    {error_logger_hwm, 50},
    {async_threshold, 20},
    {async_threshold_window, 5}
]},
{grass, [
    {port, 9922},
    {work_dir, "grass.db"}
]}].